<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link href="/static/js/jquery-1.4.4.min.js">
    <link href="/static/css/css.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td height="147" background="/static/images/top02.gif"><img src="/static/images/top03.gif" width="776" height="147"/></td>
    </tr>
</table>
<table width="562" border="0" align="center" cellpadding="0" cellspacing="0" class="right-table03">
    <tr>
        <td width="221">
            <table width="95%" border="0" cellpadding="0" cellspacing="0" class="login-text01">

                <tr>
                    <td>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="login-text01">
                            <tr>
                                <td align="center"><img src="/static/images/ico13.gif" width="107" height="97"/></td>
                            </tr>
                            <tr>
                                <td height="40" align="center">&nbsp;</td>
                            </tr>

                        </table>
                    </td>
                    <td><img src="/static/images/line01.gif" width="5" height="292"/></td>
                </tr>
            </table>
        </td>
        <td>
            <form action="http://127.0.0.1:8000/bear/login/" method="post">
                {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
                {% csrf_token %}
                <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                <tr>
                    <td width="31%" height="35" class="login-text02">用户名称：<br/></td>
                    <td width="69%"><input name="account" type="text" size="30"/></td>
                </tr>
                <tr>
                    <td height="35" class="login-text02">密　码：<br/></td>
                    <td><input name="password" type="password" size="33"/></td>
                </tr>
                <tr>
                    <td height="35" class="login-text02">选择身份：</td>
                    <td>
                        <select name="usertype" id="select">
                            <option value=1>学生</option>
                            <option value=2>班主任</option>
                            <option value=3>院级工作人员</option>
                            <option value=4>校级工作人员</option>
                            <option value=5>院级管理员</option>
                            <option value=6>校级管理员</option>
                            <option value=7>系统管理员</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td height="35">&nbsp;</td>
                    <td><input  type="submit" class="right-button01" value="确认登陆" />
                        <input  type="reset" class="right-button02" value="重 置"/></td>
                </tr>

            </table>
            <a height="35" class="login-text02" href="http://127.0.0.1:8000/bear/reset">忘记密码？</a>
            </form>


        </td>
    </tr>
</table>
</body>
</html>
